services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: loadirectory
    env_file:
      - ".env"
    ports:
      - 5002:${PORT}
    command: "gunicorn -w ${WORKER} -b ${HOST}:${PORT} 'main:app' --log-level DEBUG --access-logfile -"
    restart: always
    volumes:
      - ".:/app:ro"
    depends_on:
      - db
  
  db:
    image: postgres:14-bookworm
    container_name: database
    hostname: postgres
    environment:
      - POSTGRES_DB=catalogy
      - POSTGRES_USER=skrim
      - POSTGRES_PASSWORD=skrimza
    restart: always
    ports:
      - "5432"