<header class="header">
    <button class="profile">Профиль</button>
</header>
<section class="register">
    <h1 class="register-title">
        Зарегистрируйтесь, пожалуйста, или войдите в приложение
    </h1>
    <form action="/" id="register-form">
        <p class="register-form_text" style="color: #FFFFFF; font-size: 18px; font-weight: bold;">Регистрация</p>
        <input type="text" name="name" id="name" placeholder="Имя">
        <input type="text" id="lastname" placeholder="Фамилия">
        <input type="email" id="email" placeholder="Электронная почта">
        <input type="password" id="password" placeholder="Пароль">
        <button type="submit" id="register-btn">Зарегистрироваться</button>
    </form>
    <form action="/" id="login-form">
        <p class="register-form_text" style="color: #FFFFFF; font-size: 18px; font-weight: bold;">Вход</p>
        <input type="email" id="login-email" placeholder="Электронная почта">
        <input type="password" id="login-password" placeholder="Пароль">
        <button type="submit" id="login-btn">Войти</button>
    </form>
</section>
<div class="output"></div>